{% extends 'base.html' %}
{%load static %}
{% block style %}

<link rel="stylesheet" href="static/css/like.css" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{%endblock %}
{% block title %}Комментарии{% endblock %}
{% block content %}
{% for comment in comments %}
<div class="card-md-3">
  <div class="card-body">
      <p class="card-text">Пользователь: <a href="{%url 'get_user' comment.user.pk %}">{{comment.user.first_name}}</a></p>
    <p class="card-text"><small class="text-muted">{{comment.created_at}}</small></p>
    <p class="card-text">{{comment.content}}</p>
           <a href="{%url 'like_comment' comment.pk%}"><p style="width: 50px; color: #666666; background-color: #FFFFFF;"><i class="fa fa-heart" style="font-size:20px" aria-hidden="true">{{comment.get_like_number}}</i></p></a>
<!--      -->
<!--    <div style="display: flex;">-->
<!--     <a href="{%url 'like_post' post.pk%}"><p style="width: 50px; color: #666666; background-color: #FFFFFF;"><i class="fa fa-heart" style="font-size:20px" aria-hidden="true">{{post.get_like_number}}</i></p></a>-->
<!--      <a href="#"><p style="width: 50px; color: #666666; background-color: #FFFFFF;"><i class="fa fa-comment" style="font-size:20px"></i></p></a>-->
<!--    </div>-->
  </div>
</div>
{% endfor %}
<a href="{% url 'create_comment' post.pk%}"><button type="submit">Добавить комментарий</button></a>
{% endblock %}